.changing__button {
    align-self: center;
    border: .5px solid green;
    border-radius: 5px;
    cursor: pointer;
    height: 20px;
    margin: 0 10px;
    line-height: 1em;
    width: 20%;
}

.changing__button:hover {
    background-color: rgb(120, 252, 120);
}   

.changing__button-close {
    align-self: center;
    box-sizing: border-box;
    border: .5px solid red;
    border-radius: 5px;
    cursor: pointer;
    height: 20px;
    line-height: 1em;
    width: 20%;
}

.changing__button-close:hover {
    background-color: #ff8888;
    color: white;
}

.changin__buttons-block {
    align-self: center;
    display: flex;
    font-size: .75em;
    width: 100%;
}

.changing__form {
    border-radius: 10px;
    bottom: 20%;
    display: flex;
    height: 24px;
    line-height: 1.55em;
    margin: 0 5px;
    width: 65%;
}

.changing__input {
    align-self: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 22px;
    width: 100%;
}

.hidden {
    display: none;
}

@media (max-width: 540px) {
    .changing__button {
        width: 40%;
        font-size: 1em;
        line-height: 1em;
    }

    .changing__button-close {
        width: 40%;
        font-size: 1em;
        line-height: 1em;
    }
}

@media (max-width: 500px) {
    .changing__button {
        width: 40%;
        font-size: .75em;
        line-height: 1em;
    }

    .changing__button-close {
        width: 40%;
        font-size: .75em;
        line-height: 1em;
    }

    .changing__input {
        font-size: .65em;
    }
}

@media (max-width: 320px) {
    .changing__button {
        width: 35%;
        font-size: .5em;
        line-height: 1em;
    }

    .changing__button-close {
        width: 35%;
        font-size: .5em;
        line-height: 1em;
    }

    .changing__input {
        font-size: .5em;
        width: 70px;
    }
}