.task-list-item {
    font-size: 1.25rem;
}

.task-list-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.task-list-item button:focus {
    box-shadow: none;
    outline: none;
}

.task-list-item .btn-star {
    color: #69602c
}

.task-list-item .btn-trash {
    color: rgb(224, 49, 64);
}

.task-list-item .fa-check-square {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: green;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.task-list-item-label {
    display: block;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s all;
}

.task-list-item.like .fa-check-square {
    opacity: .4;
    transform: translateX(0px);
}

.task-list-item.important .task-list-item-label {
    color: #FFD700;
}

.task-list-item.important .btn-star {
    color: #FFD700;
}