.add__button {
    border-radius: 5px;
    font-size: 1em;
    height: 35px;
    width: 10%;
}

.add__button:hover {
    background-color: #00baa4;
    color: white;
}

.add__form {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.add__input {
    border: 1px solid black;
    border-radius: 5px;
    height: 35px;
    width: 50%;
}

@media (max-width: 500px) {
    .add__button {
        font-size: .75em;
        margin: 0 5%;
        width: 15%;
    }

    .add__form {
        justify-content: center;
    }
  
    .add__input {
        font-size: 0.75em;
    }
}