.creator__label {
    margin: 60px 0;
    font : oblique 22px Georgia, serif;
    font-size: 0.75em;
    left: 10px;
    position: relative;
}

.header__body {
    background-color: #00baa4;
    box-shadow: 0px 13px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    height: 80px;
    position: relative;
}

.main__label {
    font : bold italic 22px Georgia, serif;
    font-size: 2.75em;
    margin: 14px auto;
    position: relative;
}

.signup__button {
    background-color: #02ccc5;
    border-radius: 5px;
    box-shadow: 0px 8px 10px 4px rgba(34, 60, 80, 0.2);
    color: white;
    cursor: pointer;
    margin: auto 30px;
    height: 35px;
    width: 90px;
}

.shadowed {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.unshadowed {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 768px) and (max-height: 1024px) {
    .creator__label {
        margin: 55px 0;
        font-size: 0.5em;
        left: 5px;
    }
    
    .header__body {
        height: 70px;
    }
    
    .main__label {
        font-size: 1.75em;
        margin: auto;
        position: relative;
        text-align: center;
    }
    
    .signup__button {
        margin: auto 20px;
        font-size: .75em;
        height: 30px;
        width: 15%;
    }
}

@media (max-width: 400px) and (max-height: 1024px) {
    .header__body {
        height: 80px;
    }

    .signup__button {
        margin: auto 20px;
        font-size: .75em;
        height: 40px;
        width: 70px;
    }
}