.list__group-buttons {
    box-sizing: border-box;
    display: flex;
    margin: 0 .5%;
    justify-content: space-evenly;
    position: relative;
    width: 100px;
}

.task__list-item {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    font-size: 1.25rem;
    justify-content: space-between;
    margin: 5px;
    width: 100%;
}

.list__group-buttons button:hover {
    cursor: pointer;
}

.list__group-buttons .btn-star {
    background-color: white;
    border: 0;
    color: #69602c;
}

.list__group-buttons .btn-trash {
    background-color: white;
    border: 0;
    color: rgb(224, 49, 64);
}

.list__group-buttons .fa-check-square {
    align-self: center; 
}

.btn-check-square {
    background-color: white;
    border: 0;
}

.task__list-item-label {
    display: relative;
    left: 2%;
    margin: 0 5px;
}

.task__list-item.complete {
    background-color: lightgreen;
    text-decoration-line: line-through;
}

.task__list-item.complete .btn-check-square {
    background-color: lightgreen;
    color: green;
}

.task__list-item.complete .btn-trash {
    background-color: lightgreen;
}

.task__list-item.complete .btn-star {
    background-color: lightgreen;
}

.task__list-item.important {
    background-color: #f1e288;
}

.task__list-item.important .btn-check-square {
    background-color: #f1e288;
}

.task__list-item.important .btn-trash {
    background-color: #f1e288;
}

.task__list-item.important .btn-star {
    background-color: #f1e288;
    color: yellow;
}