.btn-check-square {
    background-color: white;
    border: 0;
}

.checked {
    align-self: center;
    color: green;
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s;
}

.check__btn {
    align-self: center;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity .5s;
}

.check__btn:hover {
    align-self: center;
    color: green;
    cursor: pointer;
    opacity: .5;
}

.list__group-buttons {
    display: flex;
    margin: 0 .5%;
    position: sticky;
    left: 100%;
}

.list__group-buttons button:hover {
    cursor: pointer;
}

.list__group-buttons .btn-star {
    background-color: white;
    border: 0;
    color: yellow;
}

.list__group-buttons .btn-trash {
    background-color: white;
    border: 0;
    color: rgb(224, 49, 64);
}

.list__group-buttons .fa-check-square {
    align-self: center; 
}

.pen__btn {
    align-self: center;
    color: red;
    cursor: pointer;
    opacity: 0.3;
    position: relative;
    width: 5%;
}

.pen__btn:hover {
    align-self: center;
    color: red;
    opacity: 1;
    font-size: 1.05em;
    transition: opacity .5s;
}

.task__list-item {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    font-size: 1.25rem;
    margin: 5px;
    position: relative;
    width: 90%;
}

.task__list-item-label {
    display: relative;
    left: 2%;
    margin: 0 5px;
}

.task__list-item.complete {
    background-color: lightgreen;
    text-decoration-line: line-through;
}

.task__list-item.complete .btn-check-square {
    background-color: lightgreen;
    color: green;
}

.task__list-item.complete .btn-trash {
    background-color: lightgreen;
}

.task__list-item.complete .btn-star {
    display: none;
}

.task__list-item.important {
    background-color: #f1e288;
}

.task__list-item.important .btn-check-square {
    background-color: #f1e288;
}

.task__list-item.important .btn-trash {
    background-color: #f1e288;
}

.task__list-item.important .btn-star {
    background-color: #f1e288;
    color: black;
}

.task__list-wrap {
    display: flex;
    justify-content: center;
}